android/app/src/main/java/io/github/ishutyagi9560_cmyk/twa/LauncherActivity.java.backup
android/app/src/main/java/io/github/ishutyagi9560_cmyk/twa/LauncherActivity.java.step-backup
android/app/src/main/java/io/github/ishutyagi9560_cmyk/twa/LauncherActivity.java.bridge-backup

android/app/src/main/java/io/github/ishutyagi9560_cmyk/twa/LauncherActivity.java.before-setwallpaper

index.html.before-real-setwallpaper

android/.gradle/
android/build/
android/app/src/main/java/io/github/ishutyagi9560_cmyk/twa/LauncherActivity.java.before-actual-bridge
android/app/src/main/java/io/github/ishutyagi9560_cmyk/twa/LauncherActivity.java.before-service-fix
